body {
  margin: 0;
  font-family: "Open Sans", "Helvetica", "Verdana", sans-serif; }

a {
  color: #0c6ea2;
  text-decoration: none; }

h3 {
  line-height: 10px; }

.ribbon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: black;
  color: white;
  line-height: 38px;
  padding: 0 10px; }

.logo {
  font-size: 39px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #e0e0e0;
  line-height: 50px;
  padding: 0 10px; }
  .header sup {
    font-size: 10px; }
  .header .title {
    color: #17a061; }
  .header .mylab img {
    margin-bottom: -4px;
    padding-right: 10px; }

#hero {
  background-image: url(../images/midterm/hero-tall-002.jpg);
  height: 580px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #hero #hero-right {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 20px;
    padding: 20px; }
    #hero #hero-right input {
      line-height: 38px;
      display: block;
      margin: 10px 0;
      border-radius: 4px;
      border: transparent;
      padding: 0 0 0 10px;
      width: 240px; }
    #hero #hero-right button {
      width: 250px;
      background-color: #17a061;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: 700;
      line-height: 38px;
      display: block;
      margin: 10px 0; }
  #hero #hero-left {
    color: #ffffff;
    margin-left: 10px; }
    #hero #hero-left > img {
      margin-bottom: -155px; }

#content {
  padding: 20px 10px 10px 10px; }
  #content > div {
    max-width: 50%; }
  #content img.img {
    max-width: 100%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .flex.just-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .flex.just-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
  .flex.just-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.caps {
  text-transform: uppercase; }

.lead {
  font-size: 24px; }
  .lead.small {
    font-size: 17px;
    font-weight: 600; }

.greencta {
  background: #17a061;
  border-radius: 2px;
  width: 180px;
  padding: 10px;
  margin: 30px;
  -webkit-transition: all .5s;
  transition: all .5s; }
  .greencta:hover {
    background: #145434; }
  .greencta ul {
    list-style: none;
    padding: 0; }
    .greencta ul li {
      line-height: 28px; }

.learnmore {
  border-left: 1px solid #e0e0e0;
  margin: 10px;
  padding: 10px;
  width: 400px; }
  .learnmore a {
    color: #7db658;
    text-decoration: none; }

img.icon.x3 {
  max-width: 50px;
  max-height: 50px;
  display: block;
  margin: auto; }
img.icon.x1 {
  max-width: 17px;
  margin-bottom: -4px;
  padding-right: 10px; }

.strong {
  font-weight: 700; }

.footer {
  background-color: #424242;
  padding: 20px;
  margin: 0 0 -20px 0;
  color: white; }
  .footer a {
    color: white; }
  .footer .gray {
    color: #908e8e; }
  .footer .title {
    color: #908e8e;
    font-size: 19px; }
  .footer ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 20px; }
