/*VARIABLES*/

$yellow: #ffbe00;
$bgcolor: rgba(0, 0, 0, 0.7);
$white: white;

$footer-color: $bgcolor;   

body {
    margin: 0;
    font-family: "Open Sans", "Helvetica", "Verdana", sans-serif;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.just-between {
    justify-content: space-between;
}

.just-around {
    justify-content: space-around;
}

.just-end {
    justify-content: flex-end;
}

.just-start {
    justify-content: flex-start;
}

.just-center {
    justify-content: center;
    ;
}

.laptop {
    @media screen and (max-width: 800px) {
        display: none;
    }
}

.mobiles {
    @media screen and (max-width: 800px) {
        display: block;
    }
}

.header {
    &.test {
        //        background-image: url("../images/group/test.jpg");
        background-image: url("http://wallpaper-gallery.net/images/cute-dog/cute-dog-14.jpg");
        background-size: cover;
         
    }
    .home {
        background-color: $bgcolor;
        justify-content: space-between;
        background-blend-mode:difference;
        height: 540px;
        padding: 0px;
        @media screen and (max-width: 800px) {height: 680px}
        .fa {
            color: $white;
        }
        .logo {
            flex: 3;
            align-self: center;
            img {
                max-height: 9em;
                display: block;
                margin: auto;
                transition: all 1s ease-in-out;
                @media screen and (max-width: 540px) {
                    max-width: 75vw;
                }
            }
        }
        .navigation {
            flex: 9;
            align-self: center;
            
            &.full {
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    li {
                        width: auto;
                        transition: all .3s ease-in;
                        &:hover {
                            transform: scale(1.5);
                        }
                        a {
                            color: white;
                            text-transform: uppercase;
                            font-weight: 600;
                            transition: all .1s ease-in-out;
                            border-top: 0px solid $yellow;
                            border-bottom: 3px solid $yellow;
                            padding: 10px;
                            &:hover {
                                border-top: 3px solid $yellow;
                                border-bottom: 0px solid $yellow;
                            }
                        }
                    }
                    li:hover ~ li {
                        transform: scale(.5);
                    }
                }
            }
            &.tablet {
                justify-content: flex-end;
                
                ul {z-index: 999;
                    list-style: none;
                    padding: 10px 10px 10px 0;
                    //background-color: rgba(256,256,256, .7);
                    display: none;
                    transition: display 3s ease-in-out;
                    li {
                        line-height: 2em;
                        background-color: rgba(0, 0, 0, .5);
                        margin: 10px;
                        text-align: center;
                        transition: all 2 ease-in-out;
                        i {
                            font-size: 2em;
                            -webkit-transition-property: all;
                            -webkit-transition-duration: 0.3s;
                            -webkit-transition-timing-function: ease;
                        }
                        a {
                            color: $white;
                            font-size: 2em;
                        }
                        &:hover {
                            i {
                                font-size: 1em;
                                transition: all 2 ease-in-out;
                                vertical-align: middle
                            }
                        }
                    }
                }
            }
        }
        
        >section{
            padding: 0 20px;
        }
    }
}

.footer {
    background-color: $footer-color;
    padding: 20px;
    .fa {
        color: $white;
    }
    .logo {
        img {
            width: 300px;
        }
    }
}

#mid-footerbar{
    flex-wrap: wrap;
    transition: all 2s ease-in-out;
}


/*TEST WORK*/

#special{
    margin: 0;    
    ul{
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        
        @media screen and (max-width: 500px) {
            flex-direction: column;
            height: 600px;
        }
        
        li{
            flex:1;
            transition: all 1s ease-in-out;
            height: 423px;            
            display: flex;
            flex-direction: column-reverse;
            
            
            .title{
                background-color: $yellow;
                text-transform: uppercase;
                line-height: 40px;
                color: white;
                text-align: center;   
                
                
            }
            .text{
                display: none;
                transition: all 1s ease-in-out;
                background: white;
            }
            &:hover{
                flex: 3;
                @media screen and (max-width: 500px) {
                    flex: 5;
                }
                .text{
                    display: block;
                    height: 30%;
                }
            }
            &:nth-child(1) .title{
                    background: #100000;
            }
            &:nth-child(3) .title{
                    background: darkblue;
            }
            &:nth-child(4) .title{
                    background: #800000;
            }
            &:nth-child(5) .title{
                    background: #400000;
            }
            
        }
    }
}
