*{
     font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
    body {
    margin: 0;
   
}




a{
    text-decoration: none;
     font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    &.skyblue{
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    outline: none;
    color: #09A0DB;
    

    }
}
.wrapper {
    background-color: #f4f4f4;
    margin: 0;
    
    
    .navbar {
        display: flex;
        justify-content: space-between;
        background: white;
        box-shadow: 3px 3px 3px #e0e0e0;
        padding: 10px 20px;
        font-size: 16px;
        a {
            text-decoration: none;
            color: black;
            
        }
        .logo {
            display: inline-flex;
            justify-content: flex-start;
            img {
                width: 192px;
                margin: 0;
            }
            ul {
                display: inline-flex;
                list-style: none;
                li {
                    padding: 0 10px;
                }
            }
        }
        .cta {
            .signup {
                border: 2px solid black;
                border-radius: 5px;
                background-color: transparent;
                padding: 10px;
            }
        }
    }
    
    .main{
        display: flex;
        justify-content: space-between;
        >div{
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            box-shadow: 0px 3px 3px #e0e0e0;
            margin: 10px;
            padding: 10px;
            background: white;
        }
        
        #mid{
            flex: 6;
        }
        #left{
            flex: 2;
        }
        #right{
            flex: 2;
        }
    }
}

form{
    fieldset{
        border: none;
        box-shadow: 0px 3px 3px #e0e0e0;
        margin: 10px;
        
           
    }
    h2{
        background-color: beige;
        padding: 3px 10px;
    }
    input{
        width: 400px;
        border: none;
        border-bottom: 5px double lighten(#000, 20%);
        line-height: 28px;
        
        &:hover{
            background: #eee;
        }
        
        &[type="radio"]{
            width: 20px;
        }
        
        &[type="submit"]{
            background-color: red;
            width: 200px;
            color: black;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 3px 3px #e0e0e0;
        }
        &[type="file"]{
            background-color: transparent;
            width: 200px;
            color: black;
            border: none;
            border-radius: 5px;
            box-shadow: 0px 3px 3px #e0e0e0;
        }
        &[type="checkbox"]{
            width: auto;
            
        }
    }
    label{
        width: 400px; display: inline-block;
    }
    p{
        border-bottom: 1px dotted #e0e0e0;
    }
    select{
        
    }
    textarea{
        width: 100%;
        border-color: #e0e0e0;
    }
}