//Variables
$green: #17a061;
$darkGreen: #145434;
$lightGreen:$green;
$dullGreen: #7db658;
$blue: #0c6ea2;


body{
    margin: 0;
    font-family: "Open Sans", "Helvetica", "Verdana", sans-serif;
}

a{
    color: $blue;
    text-decoration: none;
}

h3{
    line-height: 10px;
}

.ribbon{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    line-height: 38px;
    padding: 0 10px;
}
.logo{
    font-size: 39px;
}
.header{
     display: flex;
    justify-content: space-between;
    background-color: #e0e0e0;
    line-height: 50px;
    padding: 0 10px;
    
    sup{
        font-size: 10px;
    }
    
    .title{
        color: $green;
        
    }
    
    .mylab {
        img {
            margin-bottom: -4px;
            padding-right: 10px;
        }
    }
}

#hero{
    background-image: url(../images/midterm/hero-tall-002.jpg);
    height: 580px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    display: flex;
    justify-content: space-between;
    
    #hero-right{
        color: white;
        background-color: rgba(0,0,0,.5);
        margin: 0 20px;
        padding: 20px;
        
        input{
            line-height: 38px;
            display: block;
            margin: 10px 0;
            border-radius: 4px;
            border: transparent;
            padding: 0 0 0 10px;
            width: 240px;
            
        }
        button{
            width: 250px;
            background-color: $green;
            border: none;
            border-radius: 5px;
            color: white;
            font-weight: 700;            
            line-height: 38px;
            display: block;
            margin: 10px 0;
        }
    }
    
    #hero-left{
        color: #ffffff;
        margin-left: 10px;
        >img{
            margin-bottom: -155px;
        }
    }
}

#content{
    padding: 20px 10px 10px 10px;
    >div{
        max-width: 50%;
    }

    img{
        &.img{
          max-width: 100%;
        }
    }
}

.flex{
    display: flex;
    &.just-start{
        justify-content: flex-start;
    }
    &.just-end{
        justify-content: flex-end;
    }
    &.just-between{
        justify-content: space-between;
    }
}

.caps{
    text-transform: uppercase;
}
.lead{
    font-size: 24px;
    
    &.small{
        font-size: 17px;
        font-weight: 600;
    }
}

.greencta{
    background: $lightGreen;
    border-radius: 2px;
    width: 180px;
    padding: 10px;
    margin: 30px;
    transition: all .5s;
    
    &:hover{
        background: $darkGreen;
    }
    
    ul{
        list-style: none; 
        padding: 0;
        
        li{
            line-height: 28px;
        }
    }
}

.learnmore{
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding: 10px;
    width: 400px;
    a{
        color: $dullGreen;
        text-decoration: none;
    }
}

img{
    &.icon{
        &.x3{
            max-width: 50px;
            max-height: 50px;
            display: block;
            margin: auto;
        }
        &.x1{
            max-width: 17px;
             margin-bottom: -4px;
            padding-right: 10px;
        }
    }
}

.strong{
    font-weight: 700;
}

.footer{
    background-color: #424242;
    padding: 20px;
    margin: 0 0 -20px 0;
    color: white;
    a{
        color: white;
    }
    .gray{
        color: #908e8e;
    }
    .title{
        color: #908e8e;
        font-size: 19px;
    }
    ul{
        list-style: none;
        padding: 0;
        font-size: 16px;
        line-height: 20px;
    }
}