*{
    margin: 0;
}
body{
     background-color: aqua;
}
.wrapper{
    background-color: aqua;
    
    .banner{
        img{
            display: block;
            margin: auto;
        }
    }
}


#game{
    display: flex;
    flex-wrap: wrap;
    
    .mound{
        background-image: url(../images/penguins/mound_1.png);
        width: 200px;
        height: 200px;
        
        &:hover{
            background-image: url(../images/penguins/mound_1_hover.png);
        }
        
        &.penguin{
            &:active{
                background-image: url(../images/penguins/penguin_1.png);
            }
        }
        
        &.yetti{
            &:active{
                background-image: url(../images/penguins/yeti.png);
            }
        }
        
    }
}